<!DOCTYPE html>
<html ng-app="assesorform">

<head>
    <meta charset="utf-8"/>
    <title>IrAssessorForm</title>
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <script src="static/js/angular.js"></script>
    <script src="static/js/angular-animate.js"></script>
    <script src="static/js/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="static/js/assessor_app.js"></script>
    <script src="static/js/dirPagination.js"></script>
    <script src="static/js/angular-sanitize.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body ng-controller="AssessorController as assessorCtrl">
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="well">
                <div>
                    <img ng-src="static/img/YAPS.png" align="middle"
                         style="height: 20%; width: 20%; margin:0 37%; display: block"/></div>
                <form ng-submit="assessorCtrl.getResults()" class="form-horizontal" action="" method="post" name="post">
                    <div class="control-group">
                        <div class="controls" style="text-align: center;">
                            <a type="submit" ng-click="assessorCtrl.getResults()" class="btn btn-primary btn-lg"
                               role="button">Rdy
                                to rank!</a>
                        </div>
                    </div>
                </form>
            </div>
            <div style="height: 800px">
                    <div ng-show="assessorCtrl.userReady"
                         dir-paginate="result in assessorCtrl.results|itemsPerPage:2">
                        <blockquote>
                            <h3> Запрос: {{ result.query }} </h3>
                            <hr>
                            <blockquote>
                                <a href="{{ result.docs[0].url }}" target="_blank"><h3> {{ result.docs[0].title }} </h3>
                                </a>
                                <div class="wrapper" style="float: right">
                                    <a type="submit" ng-click="assessorCtrl.rankDoc(result.docs[0], result.docs[1])"
                                       class="btn btn-success btn-lg" role="button">This one is better!</a></div>
                                <a href="{{ result.docs[0].url }}" target="_blank">
                                    <p class="text-muted">{{ result.docs[1].url }} </p>
                                </a>
                                <kbd>Rank: {{ result.docs[0].rank }}</kbd>
                            </blockquote>
                            <blockquote>
                                <a href="{{ result.docs[1].url }}" target="_blank"><h3> {{ result.docs[1].title }} </h3>
                                </a>
                                <div class="wrapper" style="float: right">
                                    <a type="submit" ng-click="assessorCtrl.rankDoc(result.docs[1], result.docs[0]);"
                                       class="btn btn-success btn-lg" role="button"> &nbsp; Naah, this one! &nbsp; </a>
                                </div>
                                <a href="{{ result.docs[1].url }}" target="_blank">
                                    <p class="text-muted">{{ result.docs[1].url }} </p>
                                </a>
                                <kbd>Rank:{{ result.docs[1].rank }}</kbd>
                            </blockquote>
                        </blockquote>
                    </div>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             class="pagination-sm">
                    </dir-pagination-controls>
                    <a type="submit" ng-click="assessorCtrl.saveRanks()" class="btn btn-danger btn-lg"
                       role="button" style="display:block;">Save results!</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>